@model IEnumerable<CRM4.Models.Asset>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuiteNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renter.Name)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuiteNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Renter.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AssetId }) |
                @Html.ActionLink("Details", "Details", new { id=item.AssetId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AssetId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
